{% extends 'layots/admin/admin.html.twig' %}

{% block title %}Панель администратора - Редактировать новость{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Редактировать запись - {{ news.id }}</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
      </div>
    </div>
    <div class="raw">
    </div>
{% endblock %}